* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: orange;
}

.header {
  border: 5px solid white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

.indiceLogo {
  display: flex;
}

.headerIcono {
  display: none;
}

.indiceNavegable {
  font-family: 'Roboto', sans-serif;
  font-style: bold;
  text-decoration-color: black;
  text-decoration: none;
  font-size: 20px;
  color: black;
  border: 3px solid white;
  padding: 1rem;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.indiceItems {
  margin: 1rem;
}

.indiceItemsOculto {
  display: none;
}

.main {
  border: 5px solid white;
  display: flex;
  flex-flow: row nowrap;
}

.imagenOficina {
  justify-content: left;
  align-items: flex-start;
  width: 50%;
  height: 500px;
}

.tituloEmpresa {
  width: 50%;
  flex-flow: row nowrap;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  align-items: flex-end;
  text-decoration: underline;
  font-size: 100px;
  margin-top: 30px;
  margin: 10px;
}

.imagenDescripcion {
  background-color: orange;
  font-size: 30px;
}

.flexbord {
  display: flex;
}

.boton {
  border: 5px solid white;
  color: #795004;
  width: 25%;
  height: auto;
  padding: 16px;
  margin: 32px;
  border-radius: 10px;
}

.botonTitulo {
  text-align: center;
  font-size: 22px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.botonFoto {
  width: 90%;
  border-radius: 10px;
  margin-bottom: 16px;
}

.botonTexto {
  text-align: center;
  font-size: 25px;
}

.footerGrid {
  display: grid;
  padding: 1rem;
  border: 5px solid white;
  grid-template-columns: 17% 17% 17% 50%;
  grid-template-rows: 200px 150px 160px;
  grid-template-areas: "t1 t1 t1 mapa" "t2 t2 t2 mapa" "tel wsp mail mapa";
}

.tituloSecundario {
  font-family: 'Roboto', sans-serif;
  grid-area: t1;
  font-size: 65px;
  text-align: center;
  text-decoration: underline;
}

.tituloLink {
  font-family: 'Roboto', sans-serif;
  grid-area: t2;
  font-size: 40px;
  text-align: center;
}

.redireccionIconoTel {
  grid-area: tel;
  height: 150px;
  width: 150px;
}

.redireccionIconoWsp {
  grid-area: wsp;
  height: 150px;
  width: 150px;
}

.redireccionIconoMail {
  grid-area: mail;
  height: 150px;
  width: 150px;
}

.mapaFooter {
  grid-area: mapa;
  padding-left: 3rem;
  width: 600px;
  height: 500px;
}

divEmpresa {
  display: flex;
  flex-flow: row nowrap;
  background-color: orange;
  padding: 2rem;
  border: 5px solid white;
}

.textoEmpresa {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

.fotoSucursal1 {
  justify-content: right;
  width: 50%;
  height: 400px;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 20px;
}

.fotoSucursal2 {
  justify-content: left;
  align-items: flex-start;
  width: 60%;
  padding: 2rem;
  border-radius: 50px;
}

/* PRODUCTO */
.boton2 {
  border: 5px solid white;
  color: #795004;
  width: 30%;
  height: auto;
  padding: 16px;
  margin: 32px;
  border-radius: 10px;
}

.botonTitulo2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.botonFoto2 {
  height: 150px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.botonTexto2 {
  text-align: center;
  font-size: 25px;
}

/* SERVICIO*/
.textoEmpresa1 {
  font-size: 40px;
  padding-left: 2rem;
}

.fotoSucursal11 {
  width: 30%;
  transition: width 5s;
}

.fotoSucursal11:hover {
  width: 40%;
}

.textoEmpresa2 {
  font-size: 40px;
  padding-left: 2rem;
}

.fotoSucursal22 {
  width: 50%;
  transition: 5s;
}

.fotoSucursal22:hover {
  width: 60%;
}

/*CONTACTO*/
.tituloContacto {
  font-family: monospace;
  position: relative;
  float: left;
  background: orange;
  color: #fff;
  font-size: 2.5em;
}

h1 span {
  position: absolute;
  right: 0;
  width: 0;
  background: orange;
  border-left: 1px solid #000;
  animation: escribir 5s steps(30) infinite alternate;
}

@keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.footerFlex2 {
  justify-content: center;
  align-items: center;
}

.mapaContacto {
  width: 50%;
  height: auto;
}

.footerContacto {
  display: block;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .indiceLogo {
    width: 60%;
  }
  .nav {
    display: none;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    width: 80%;
    height: 100vh;
  }
  .indiceNavegable {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: center;
  }
  .headerIcono {
    display: block;
  }
  .nav:target {
    display: block;
  }
  .indiceItemsOculto {
    display: block;
  }
  /* COMIENZO DE MAIN*/
  .main {
    border: 5px solid white;
    display: flex;
    flex-flow: column nowrap;
  }
  .imagenOficina {
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    height: 10%;
  }
  .tituloEmpresa {
    width: 90%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    font-size: 30px;
  }
  .imagenLogoTernium {
    height: 1%;
  }
  /*SECTION*/
  .flexbord {
    display: grid;
  }
  .boton {
    border: 5px solid white;
    color: #795004;
    width: 100%;
    height: 300px;
    padding: 5px;
    margin: 0px;
    border-radius: 10px;
  }
  .botonTitulo {
    text-align: center;
    font-size: 22px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
  .botonFoto {
    height: 35%;
    padding-left: 3px;
    border-radius: 10px;
    margin-bottom: 16px;
  }
  .botonTexto {
    text-align: center;
    font-size: 25px;
  }
  /*Footer*/
  .footerGrid {
    display: grid;
    padding: 1rem;
    border: 5px solid white;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 200px 150px 160px 200px;
    grid-template-areas: "t1 t1 t1" "t2 t2 t2" "tel wsp mail" "mapa mapa mapa";
  }
  .tituloSecundario {
    font-family: 'Roboto', sans-serif;
    grid-area: t1;
    font-size: 42px;
    text-align: center;
    text-decoration: underline;
  }
  .tituloLink {
    font-family: 'Roboto', sans-serif;
    grid-area: t2;
    font-size: 23px;
    text-align: center;
  }
  .redireccionIconoTel {
    grid-area: tel;
    height: 50%;
    width: 100%;
  }
  .redireccionIconoWsp {
    grid-area: wsp;
    height: 50%;
    width: 100%;
  }
  .redireccionIconoMail {
    grid-area: mail;
    height: 50%;
    width: 100%;
  }
  .mapaFooter {
    grid-area: mapa;
    padding-left: 0rem;
    width: 100%;
    height: 100%;
  }
  /*EMPRESA*/
  .divEmpresa {
    display: block;
  }
  .fotoSucursal1 {
    width: 100%;
    height: 30%;
  }
  .fotoSucursal2 {
    width: 100%;
    height: 30%;
  }
  /* PRODUCTO */
  .boton2 {
    margin: 0px;
    width: 100%;
    height: auto;
  }
  .botonFoto2 {
    width: 87%;
  }
  /* SERVICIO*/
  .textoEmpresa1 {
    font-size: 30px;
    padding-left: 2rem;
  }
  .fotoSucursal11 {
    height: 200px;
    width: 90%;
  }
  .textoEmpresa2 {
    font-size: 30px;
    padding-left: 2rem;
  }
  .fotoSucursal22 {
    height: 200px;
    width: 90%;
  }
  /* CONTACTO */
  .divEmpresa {
    border: none;
  }
  .mapaContacto {
    width: 100%;
  }
}
