@mixin WyH($width, $height){
	width:$width;
	height: $height;
}
.divEmpresa{
    margin-top: 80px;
    display: flex;
    flex-flow: row nowrap;
    background-color: $colorPrincipal;
    padding: 2rem;
    border: 5px solid white;
}
.divEmpresa666{
    margin-top: 80px;
    display: flex;
    flex-flow: row nowrap;
    background-color: $colorPrincipal;
    padding: 2rem;
    border: 5px solid white;
}
.textoEmpresa {
    margin: 1rem;
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
    text-align:justify;
}
.textoEmpresa3 {
    margin: 1rem;
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
    text-align:justify;
}
.fotoSucursal1{
    @include WyH(50%,350px );
    justify-content: right;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 20px;  
}
.fotoSucursal2{
    justify-content: left;
    align-items: flex-start;
    width: 60%;
    padding: 2rem;
    border-radius: 50px;   
}
/* PRODUCTO */
.boton2{
    @include WyH(30%,auto );
    border: 5px solid white;
    color: rgb(121, 80, 4);
    padding: 16px;
    margin: 32px;
    border-radius: 10px;
}
.botonTitulo2{
    text-align: center;
    font-size: 22px;
    margin-bottom: 16px;
    text-transform:uppercase;
}
.botonFoto2{
    height: 150px;
    border-radius: 10px;
    margin-bottom: 16px;
}
.botonTexto2{
    text-align: center;
    font-size: 25px;
}
/* SERVICIO*/
.textoEmpresa1{
    margin: 1rem;
    font-size: 40px;
    padding-left: 2rem;
}
.fotoSucursal11{
    width: 35%;
}
.textoEmpresa2{
    margin: 1rem;
    font-size: 30px;
    padding-left: 2rem;
}
.fotoSucursal22{
    width: 50%;
    height: 350px;

}
/*CONTACTO*/
.tituloContacto { 
    font-family: monospace; 
	position: relative; 
	float: left;
	background: orange;
	color: #fff;
	font-size: 2.5em;
}
h1 span {
    position:absolute;
    right:0;
    width:0;
    background: orange;
    border-left: 1px solid #000;
    animation: escribir 5s steps(30) infinite alternate;
}
@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}
.footerFlex2{
    justify-content: center;
    align-items: center;
}
.mapaContacto{
    @include WyH(50%,auto );
}
.footerContacto{
    display: block;
    text-align: center;
}